<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="anyname">
	<test name="anyname">
		<parameter name="browser" value="chrome"></parameter>
		
		<parameter name="url" value="https://www.facebook.com/"></parameter>
		<classes>
			<class name="com.bit.test.IntregationTest">
			
			</class>
		</classes>
	</test>

</suite>